#markdown {
    color: #888;
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
    letter-spacing: 1px;
}

#markdown * {
    box-sizing: border-box
}

#markdown > :first-child {
    margin-top: 0 !important
}

#markdown > :last-child {
    margin-bottom: 0 !important
}

#markdown a {
    background: 0 0;
    color: #4183c4;
    text-decoration: none
}

#markdown a:active, #markdown a:focus, #markdown a:hover {
    text-decoration: underline
}

#markdown strong {
    font-weight: 600
}

#markdown em {
    font-style: italic
}

#markdown blockquote, #markdown dl, #markdown ol, #markdown p, #markdown pre, #markdown table, #markdown ul {
    margin-top: 0;
    margin-bottom: 16px
}

#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 3px;
    color: #777;
}

#markdown h1 {
    font-size: 17px;
    line-height: 1.2
}

#markdown h2 {
    font-size: 16px;
    line-height: 1.225
}

#markdown h3 {
    font-size: 15px;
}

#markdown code, #markdown kbd, #markdown pre {
    font-family: Consolas, 'Microsoft Yahei', sans-serif;
}

#markdown pre {
    padding: 16px;
    overflow: auto;
    font-size: 12px;
    line-height: 1.45;
    background: #222;
    border-radius: 3px
}

#markdown pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background: 0 0
}

#markdown pre code:after, #markdown pre code:before {
    content: normal
}

#markdown pre > code {
    word-break: normal;
    white-space: pre;
}

#markdown kbd {
    background: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 5px 5px 1px;
    margin: 0 1px;
    font-size: 11px;
    line-height: 10px;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc
}

#markdown hr:after, #markdown hr:before {
    display: table;
    content: ''
}

#markdown input {
    color: inherit;
    font: inherit;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
}

#markdown input[disabled] {
    cursor: default
}

#markdown input[type=checkbox] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

#markdown blockquote {
    padding: 10px 15px;
    border-left: 4px solid #E6E6E6;
    background: #F6F6F6;
}

#markdown blockquote > :first-child {
    margin-top: 0
}

#markdown blockquote > :last-child {
    margin-bottom: 0
}

#markdown img {
    margin:15px 0;
    border: 0;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#markdown hr {
    box-sizing: content-box;
    overflow: hidden;
    background: #E6E6E6;
    height: 1px;
    margin: 30px 0;
    border: 0
}

#markdown hr:after {
    clear: both
}

#markdown td, #markdown th {
    padding: 0
}

#markdown table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all
}

#markdown table td, #markdown table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}

#markdown table th {
    font-weight: 700
}

#markdown table tr {
    background: #fff;
    border-top: 1px solid #ccc
}

#markdown table tr:nth-child(2n) {
    background: #f8f8f8
}

#markdown ol, #markdown ul {
    padding: 0 0 0 18px;
}

#markdown ol ol, #markdown ul ol {
    list-style-type: lower-roman
}

#markdown ol ol, #markdown ol ul, #markdown ul ol, #markdown ul ul {
    margin-top: 0;
    margin-bottom: 0
}

#markdown ol ol ol, #markdown ol ul ol, #markdown ul ol ol, #markdown ul ul ol {
    list-style-type: lower-alpha
}

#markdown ul li{
    list-style-type: circle
}

#markdown li > p {
    margin-top: 16px
}

#markdown dd {
    margin-left: 0
}

#markdown dl {
    padding: 0
}

#markdown dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}

#markdown dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}